* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

h1,h2{
    text-align: center;
    color: black;
}

p {
    line-height: 1.6;
    margin-bottom: 1em;
}

.container {
    width: 65%;
    margin: 0 auto;
    padding: 1.7em;
    background-color: rgb(100, 100, 100);
    border-radius: 15px;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(171, 178, 185);
    height: 80px;
    align-items: center;
}

.flex-container > div {
    width: 100px;
    height: 60px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
}

footer {
    text-align: center;
    padding: 15px;
    color: white;
}

div#num1{
    display: flex;
    justify-content: center;
    background-color: rgb(171, 178, 185);
    height: 80px;
    align-items: center;
}

div#num2 {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 230, 165);
    width: 80%;
    height: 270px;
}


div#num3 {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 230, 165);
    width: 40%;
    height: 100px;
    align-items: center;
}

div#num5 {
    background-color: rgb(46, 64, 83);
    height: 50px;
    align-items: center;
    width: 100%;
}

.section {
padding: 1em;
border-bottom: 2px solid #e4e4e4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    display: inline;
}

li a {
    padding: 5px;
    color: white;
}

button {
background-color: rgb(119, 128, 128);
color: black;
padding: 0.75em 1.2em;
box-sizing: border-box;
border-radius: 2px;
cursor: pointer;
font-size: 0.9em;
}